#comic {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    height: 500px;
  }
  #caption {
    text-align: center;
    margin-top: 10px;
  }
  #button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  #button:hover {
    background-color: #3e8e41;
  }